@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(http://fonts.gstatic.com/s/questrial/v7/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family:"Questrial";
  overflow:scroll;
  column-count:2;
  column-gap:40px;
  column-rule-style:solid;
  column-rule-width:1px;
  column-rule-color:white;
}
#log {
  overflow:scroll;
  float:right;
  height:600px;
  width:600px;
  top:0px;
  column-span:none;
}
#up {
  height:25px;
  width:200px;
  border-radius:8px;
  background-color: LightGrey;
  color: Black;
  border:2px solid #dddddd;
  box-shadow: 0 9px #999;
  margin-bottom:10px;
  margin-top:0px;
  font-family: 'Questrial';
  float:left;
}
#up:hover {
  background-color:#d6d6d6;
}
#up:active {
  background-color: #cccccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#act {
  height:25px;
  width:200px;
  border-radius:8px;
  background-color: LightGrey;
  color: Black;
  border:2px solid #dddddd;
  box-shadow: 0 9px #999;
  margin-bottom:10px;
  margin-top:10px;
  font-family: 'Questrial';
  float:left;
}
#act:hover {
    background-color:#d6d6d6;
}
#act:active {
  background-color: #cccccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#spacer {
  color:white;
}
#savefield {
  height:25px;
  width:200px;
  border-radius:8px;
  background-color:lightgrey;
}
#savefield:hover {
  background-color:#aaaaaa;
}
#copyright {
  font-size:6px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#submit {
  height:25px;
  width:200px;
  border-radius:8px;
  background-color: LightGrey;
  color: Black;
  border:2px solid #dddddd;
  box-shadow: 0 9px #999;
  margin-bottom:10px;
  margin-top:5px;
  font-family: 'Questrial';
}
#submit:hover {
  background-color:#d6d6d6
}
#submit:active {
  background-color: #cccccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#keybindings {
column-span:all;
}
#keyform {
  clear:left;
}
#keyfield {
  clear:left;
}
#enemyimg {
    height:70px;
    width:70px;
}